/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* start */
:root {
    --main-color: #1992D4;
    --sidebar-text-color: white;
    --main-header-background-color: white;
    --main-header-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.733);
    --main-section-background-color: #DFE5ED;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    grid-template-rows: 0.45fr 2fr;
}

/* sidebar */
.sidebar {
    color: var(--sidebar-text-color);
    background-color: var(--main-color);
    padding: 18px;
    grid-row: 1 / -1;
}

.sidebar-header {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
}

.sidebar-header-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar-items-container {
    margin-top: 54px;
    padding: 0;
}

.sidebar-items {
    padding: 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 16px;
}

.sidebar-items div {
    justify-self: start;
    font-weight: 500;
    font-size: large;
}


/* main header */
.main-header {
    box-shadow: var(--main-header-box-shadow);
    background-color: var(--main-header-background-color);
}

.main-header-top {
    display: grid;
    grid-template-columns: 3fr 0.7fr;
    padding: 18px 24px 18px 40px;
}

.search-box {
    gap: 20px;
    display: grid;
    padding-right: 10vw;
    grid-template-columns: 24px 1fr;
    align-items: center;
}

.search-box input {
    padding: 14px;
    border-radius: 14px;
    border: none;
    height: 28px;
    background-color: rgb(224, 231, 240);
}

.notifications {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 24px 40px 3fr;
}

.notifications img:nth-child(2){
    object-fit: cover;
    height: 40px;
    width: 100%;
    border-radius: 50%;
}

.notifications div {
    font-weight: bold;
}


.main-header-bottom {
    display: grid;
    padding: 18px 24px 18px 40px;
    gap: 24px;
    align-items: center;
    grid-template-columns: 75px 1fr 350px;
}

.main-header-bottom img {
    object-fit: cover;
    height: 75px;
    min-width: 75px;
    border-radius: 50%;
}

.main-header-bottom .greeting-message{
    font-weight: 700;
    font-size: 0.9rem;
}

.main-header-bottom .greeting-message .name-profile {
    font-size: 1.25rem;
}

.main-header-bottom .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.main-header-bottom .buttons-container button {
    border: none;
    background-color: var(--main-color);
    border: none;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    color: white;
    border-radius: 20px;
}

.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 24px;
    background-color: var(--main-section-background-color);
}

.cards-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: x-large;
}

.cards-container .cards-wrapper {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.main-section .cards-container .card .actions-icons {
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 8%;
}

.main-section .cards-container .card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    border-left: 8px solid #F0B429;
    padding: 30px;
}

.main-section .cards-container .card p {
    color: #585858;
}

/* Anouncements */
.main-section .main-aside .announcements-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.main-section .main-aside .announcements-card hr {
    margin: 8px 0 8px 0;
}

.main-section .main-aside .announcements-card .announcements-content .announcements-title {
    font-weight: 700;
}

.main-section .main-aside .announcements-card .announcements-content .announcements-para{
    color: #585858;
}

.main-section .main-aside .announcements-card .announcements-content {
    padding: 8px;
}

/* trending */
.main-section .main-aside .trending .cards-title {
    margin-top: 30px;
}

.main-section .main-aside .trending .trending-wrapper {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

.main-section .main-aside .trending .trending-items img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-section .main-aside .trending .trending-items {
    display: grid;
    gap: 14px;
    grid-template-columns: 50px 1fr;
}

.main-section .main-aside .trending .trending-items-text .trending-people {
    font-weight: 700;
} 

.main-section .main-aside .trending .trending-items-text .project-name {
    color: #585858;
}